<%- include("partials/header") -%>
<style>
    .success-box {
        padding: 15rem;
        height: 100vh;
        display: block;
    }
    .success-box h1 {
        color: white;
    }
    .success-box i {
        color: white;
    }
</style>

<div class="success-box">
    <h1>Error: Message was not sent! <i class="fa-solid fa-square-xmark"></i></h1>
    <h1>Contact through socials!</h1> 
</div>



<%- include("partials/footer") -%>