<%- include("partials/header") -%>
<style>
    .success-box {
        padding: 15rem;
        height: 100vh;
        display: block;
    }
    .success-box h1 {
        color: white;
    }
    .success-box i {
        color: white;
    }
</style>

<div class="success-box">
    <h1>Message Sent Successfully! <i class="fa-solid fa-circle-check"></i></h1> 
</div>



<%- include("partials/footer") -%>